* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-image: linear-gradient(to right, #520303, #df000b, #520505);
    margin: 50px 2%;
}
.container-title {
    font-size: 25px;
    text-align: center;
    margin: 0 0 30px 0;
    color: black;
    text-shadow: 3px 1px white;
}
.input{
    display: grid;
    column-gap: 5px;
    grid-template-columns: 60% 10%;
    justify-content: center;
    margin-top: 10px;
    color: #333;
}
.text {
    min-height: 50px;
    height: 50px;
    max-width: 100%;
    min-width: 100%;
    border-radius: 10px;
    border-color: #333;
    font-size: 20px;
    padding: 10px 10px;
    overflow: auto;
    overflow-x: hidden;
}
.text::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #333;
}
.text::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}
.text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8f8acc;
    cursor: pointer;
}
.text:focus {
    outline: none;
}
.ipbutton {
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
}
.ipbutton:hover {
    background-color:  #37b3cc;
    color: white;
}
